.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divbutton  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.button  {
    margin: 10px;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
}